body {
    /* width: 1219px;*/
    margin: 0; 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.content {
    width: 1219px;
    margin: 0 auto;
    padding: 0 55px;
}

/* HEADER */
header {
    background-color: #007765;
    color: white;
}
header .content {
    display: flex;
    flex-direction: row;
}

header .content span {
    width: 50%;
}

header .content span {
    margin: 20px 0 20px 155px;
}

header .content a {
    color: white;
}

header .content nav ul li{
    display: inline;
    list-style: none;
}

/* END HEADER */

/* One hero-block */
.hero-one {
    padding: 160px 0;
    background-size: cover;
    background-image: url('../img/image-8.png');
}

.hero-one-message {
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: white;
}
/* End hero-block */

/* Second block */
.color-eee {
    padding: 48px 55px 92px 55px;
    background-color: #EEEEEE;
}

.title {
    color: #007765;
    text-align: center;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
}

.content p {
    font-size: 32px;
    line-height: 37px;
}

.bold {
    font-weight: bold;
}
/* Second end */

/* Hero-two block */
.hero-two {
    padding: 128px 0;
    background-size: cover;
    background-image: url('../img/image-9.png');
}

.hero-two-message {
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: white;
}
/* End hero-two-block */

.one-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.one-line img {
    margin-right: 48px;
    width: 115px;
    height: 115px;
}